################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/H1/FileContentIndex/2637bcb4-e95b-4858-a2c8-0e8b7f385f3b.vsidx
